@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body {
    height: 2000px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

p {
    color: #555555;
}

#btn-menu {
    display: none;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;

}

header nav .logo {
    font-size: 30px;
    color: black;
}

header nav .nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 1.5rem;
    color: black;
}

header nav .nav-links li a {
    color: black;
}

header nav .nav-links li a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

/* Home Section  */

.home {
    padding-top: 80px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .home-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.home .home-container .home-image {
    display: grid;
    place-items: center;
}

.home .home-container .home-image img {
    width: min(25rem, 90%);
    border-radius: 100%;
}

.home .home-container .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content p {
    font-weight: 600;
}

.home-content-p1 {
    text-align: center;
}

.home-content-p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    text-align: center;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.social-links a i {
    color: black;
    font-size: 24px;
    margin-left: 15px;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn2-color,
.btn1-color {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn2-color:hover,
.btn1-color:hover {
    cursor: pointer;
}

.btn2-color,
.btn1-color:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn2-color:hover {
    background: rgb(0, 0, 0);
}

.btn1-color {
    background: none;
}

.btn1-color:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

/* Responsive */

@media(max-width: 980px) {
    header nav .nav-links {
        position: absolute;
        top: 100%;
        right: -1000px;
        flex-direction: column;
        background-color: gray;
        width: 100%;
        height: 100vh;
        text-align: center;
        padding: 20px 0;
        color: white;
    }

    header nav .nav-links li a {
        color: white;
    }

    header nav .nav-links li a:hover {
        color: white;
        text-decoration: underline;
        text-underline-offset: 1rem;
    }

    header nav .nav-links.active {
        right: 0px;
        transition: 0.3s;
    }

    #btn-menu {
        display: block;
        color: black;
        font-size: 30px;
    }


    .home .home-container {
        padding: 3rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .home .home-container .home-image {
        grid-area: 1/1/2/2;
    }

    .home-content {
        align-items: baseline;
    }
}