@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

p {
    color: #808080;
}

#btn-menu {
    display: none;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: black;
}

header nav .logo {
    font-size: 30px;
    color: white;
}

header nav .nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 1.5rem;
    color: black;
}

header nav .nav-links li a {
    color: white;
}

header nav .nav-links li a:hover {
    color: #808080;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

/* section */

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Home Section  */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(../assets/background.svg);
    background-position: center;
}

.home .home-container {
    display: flex;
    gap: 4rem;
}

.home .home-container .home-image {
    display: grid;
    place-items: center;
}

.home .home-container .home-image img {
    width: min(25rem, 90%);
    border-radius: 100%;
}

.home .home-container .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content p {
    font-weight: 600;
}

.section-content-p1 {
    text-align: center;
}

.section-content-p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    text-align: center;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.social-links a i {
    color: black;
    font-size: 24px;
    margin-left: 15px;
}

/* About Section */

.about-title {
    font-size: 3rem;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .about-container {
    width: 85%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: auto;
}

.about .about-container .about-image img {
    border-radius: 2rem;
    width: 400px;
    height: 517px;
}

.about .about-container .about-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 2rem;
}

.about .about-container .about-content span {
    color: #808080;
}

.about .about-container .about-content>p {
    color: black;
}

/* Skills section */
#skills {
    position: relative;
    flex-direction: column;
    background-color: #f5f5f5;
}

.experience-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.skill-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.skills-containers {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.skill-details {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    align-items: center;
    gap: 0.5rem;
}

article i {
    width: 32px;
    height: 32px;
}

/* BUTTONS */

.btn-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 1rem;
}

.btn2-color,
.btn1-color {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn2-color:hover,
.btn1-color:hover {
    cursor: pointer;
}

.btn2-color,
.btn1-color:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn2-color:hover {
    background: rgb(0, 0, 0);
}

.btn1-color:hover {
    border: white 0.1rem solid;
}

/* Responsive */

@media(max-width: 1200px) {
    .about .about-container {
        width: 90%;
    }

    .about .about-container .about-content {
        gap: 2rem;
    }

    .about .about-container .about-image img {
        width: 380px;
    }

    .skills {
        margin-top: 2rem;
        padding-top: 2rem;
    }
}

@media(max-width: 900px) {

    header nav .nav-links {
        font-size: 1rem;
    }

    .about .about-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .about {
        padding-top: 2rem;
    }

    .about .about-container .about-content {
        text-align: center;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 780px) {
    header nav .nav-links {
        position: absolute;
        top: 100%;
        right: -420px;
        flex-direction: column;
        background-color: black;
        width: 50%;
        height: auto;
        text-align: center;
        padding: 20px 0;
        color: white;
    }

    header nav .nav-links li a {
        color: white;
    }

    header nav .nav-links li a:hover {
        color: white;
        text-decoration: underline;
        text-underline-offset: 1rem;
    }

    header nav .nav-links.active {
        right: 0px;
        transition: 0.3s;
    }

    #btn-menu {
        display: block;
        color: white;
        font-size: 30px;
    }

    .home .home-container {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 2rem;
        padding: 3rem 1rem;
    }

    .home .home-container .home-image {
        grid-area: 1/1/2/2;
    }

    .home-content {
        align-items: baseline;
    }

    .about .about-container .about-image img {
        width: 360px;
    }

    .experience-details-container {
        width: 85%;
    }
}

@media(max-width: 550px) {
    .about .about-container .about-image img {
        width: 340px;
    }

    .skills-containers {
        flex-wrap: wrap;
    }
}

/* @media(max-width: 870px) {
    header nav .nav-links {
        position: absolute;
        top: 100%;
        right: -420px;
        flex-direction: column;
        background-color: #808080;
        width: 50%;
        height: auto;
        text-align: center;
        padding: 20px 0;
        color: white;
    }

    header nav .nav-links li a {
        color: white;
    }

    header nav .nav-links li a:hover {
        color: white;
        text-decoration: underline;
        text-underline-offset: 1rem;
    }

    header nav .nav-links.active {
        right: 0px;
        transition: 0.3s;
    }

    #btn-menu {
        display: block;
        color: black;
        font-size: 30px;
    }


    .home .home-container {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 2rem;
        padding: 3rem 1rem;
    }

    .home .home-container .home-image {
        grid-area: 1/1/2/2;
    }

    .home-content {
        align-items: baseline;
    }
} */